body {
	font-family: ubuntu;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}

.wrapper {
	background-color: white!important;
	border-radius: 30px;
	box-shadow: 0px 3px 5px rgb(0,0,0,0.08);
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	margin: 15% auto;
}

.wrapper h3 {
	margin: 40px 0;
}

/* RESULT SECTION */
.result-container {
	background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
	border-radius: 30px;
	color: #bfbfbf;
	display: inline-block;
/*	padding: 25px;*/
	text-align: center;
	width: 375px;
}

.percentage {
	background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
	border-radius: 100%;
	margin: 0 auto;
	width: 200px;
	height: 200px;
	text-align: center;
}

.percentage-top {
	color: #fff;
	font-size: 4em;
	font-weight: bold;
	padding: 20% 0 0;
	margin: 0;
}

.comment-top {
	color: #fff;
	font-size: 32px;
	font-weight: 500;
	margin: 30px 0 20px!important;
}

.comment-text {
	padding: 0 60px 40px;
}

/***********************SUMMARY SECTION*****************/
.summary-container {
	display: inline-grid;
	padding: 0 50px;
}

.summary-container h3 {
	text-align: left;
	margin-bottom: 0!important;
}

.sum-category {
	border-radius: 10px;
	display: inline;
	height: fit-content;
	padding: 15px;
	position: relative; /* to allow children to be positioned relative to it */
	text-align: left;
	width: 250px;
}

.sum-category div {
	color: #9f9f9f;
	display: inline;
	position: absolute;
	right: 15px;
}

.numerator {
	color: #202020;
}

.reaction {
	background-color: hsla(0, 100%, 50%, 0.07);
	color: #ff8080;
}

.memory {
	background-color: hsla(44.933, 87.451%, 50%, 0.07);
	color: #f3c94c;
}

.verbal {
	background-color: hsla(120, 100%, 25.098%, 0.07);
	color: #20ff56;
}

.visual {
	background-color: hsl(246.81, 100%, 31.25%, 0.07);
	color: #4040ff;
}

.btn-lg {
	background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
	border-radius: 40px;
	color: #fff;
	height: fit-content;
	padding: 20px 0 20px;
	text-decoration: none;
	display: block;
}

/* ATTRIBUTE SECTION */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* MOBILE DEVICES */
@media screen and (max-width: 375px) {
	body {
		font-size: 4vw;
		margin: 0!important;
	}
	.wrapper {
		box-shadow: none;
		display: inline;
		padding: 0;
		margin: 0 0 30px;
	}
	.result-container{
		border-radius: 0 0 30px 30px;
		width: 100vw;
	}
	.result-container h3 {
		margin: 25px auto 0;
	}
	.percentage {
		width: 40vw;
		height: 40vw;
		margin: 20px auto;
	}
	.summary-container{
		margin-bottom: 40px;
		padding: 0 30px;
		row-gap: 20px;
	}
	.comment-top {
		margin: 15px auto!important;
	}
}